body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:url("maths.jpg") ;
    background-repeat: no-repeat;
    background-size:cover  ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.calculator {
    background-color: #f0f0f0; /* Light background for the calculator body */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-width: 400px;
    width: 100%;
}

.display {
    background-color: #1c1c1c; 
    color: #f5fdf5; 
    font-size: 2.5em;
    text-align: right;
    padding: 20px;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
}

.btn {
    padding: 20px;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
}

.btn:hover {
    background-color: #ddd; 
}

.btn[data-value="="] {
    background-color:#333; 
    color: white;
}

.btn[data-value="C"] {
    background-color: #f39c12;
    color: white;
}

.btn[data-value="+"] {
    background-color: #2c3e50; 
    color: white;
}

.btn[data-value="-"] {
    background-color: #2c3e50; 
    color: white;
}

.btn[data-value="*"] {
    background-color: #2c3e50; 
    color: white;
}

.btn[data-value="/"] {
    background-color: #2c3e50;
    color: white;
}

.btn[data-value="%"] {
    background-color: #2c3e50; 
    color: white;
}

.btn[data-value="sqrt"] {
    background-color: #2c3e50; 
    color: white;
}

.btn[data-value="^"] {
    background-color: #2c3e50; 
    color: white;
}

.btn[data-value="."] {
    background-color:#333; 
    color: white;
}

.btn:not([data-value="="]):not([data-value="C"]):not([data-value="+"]):not([data-value="-"]):not([data-value="*"]):not([data-value="/"]):not([data-value="%"]):not([data-value="sqrt"]):not([data-value="^"]):not([data-value="."]) {
    background-color: #333; 
    color: white;
}
